*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  body{
    background-image: url(/image/color.jpg);
    height: 90vh;
    /* background-image: linear-gradient(0deg,
    rgb(241, 236, 163) 23.8%,
    rgb(8, 8, 8) 92%); */
    /* height: 60vh; */
  }
  nav {
     
    /* background: black; */
    border-radius: 10px;
    /* margin-bottom: 15%; */
    height: 6%;
     
  }
  .under{
    border: 1px solid white;
    transform: translateY(47px);
    width: 40%;
  }
  .under1{
    border: 1px solid white ;
    transform: translateY(50px);
    width: 40%;
  }
  /* .logo1 .img1{
  
  } */
  h1{
    border-bottom: 2px solid whitesmoke;
    margin-top: 6%;
    padding: 10px  ;
    border-radius: 5px ;
    background-color: black;
    transform: translateY(10px);
  
  }
  .h11{
    transform: translateY(-9px);
  }
  
  
   .img1 img{
    width: 100px;
    height: 70px;
    transform: translateY(-5px);
    /* background-color: black; */
    /* border-radius: 50px; */
  
  }
    .menuItems {
      list-style: none;
      display: flex;
    justify-content: center;
    margin-bottom: 5%;
    gap: 5%;
    }
  
       li {
       list-style: none;
      } 
  
        a {
          text-decoration: none;
          color:white;
          background-color:black;
          font-size: 24px;
          border: 1px solid white;
          border-radius: 5px;
          padding: 5px 19px;
          font-weight: 400;
          transition: all 0.5s ease-in-out;
          position: relative;
          text-transform: uppercase;
          font-size: medium;
          font-weight: bold;
        
        }  
        .gun{
          margin-left: 18%;
          transform: translateY( -84px);
          /* text-decoration: none; */
          transform: translateY(-35px);
        }
        .gun :hover{
            content: attr(data-item);
            transition: 0.5s;
            color: plum;
            /* position: absolute; */
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
  .gif{
    display: flex;
    transform: translateY(27px);
    
  }        
  .gif img{
    /* text-align: center; */
    width: 50%;
    height: 70vh;
    border-radius: 40%;
    margin-left: 2%;
   transform: translateY(20px);
   
    
  }   
  .class{
    display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: 10%;
   
  }  
  .tone img{
    
    width: 50%;
    height: 60%;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom:  -2%
  }
  p{
    color: white;
    font-size: larger;
    text-align: center;
  }
  div{
    margin: 0;
  }